@import "sign_in_page.css";
@import "../elements/validation_error_message.css";


@media (min-width: 340px) and (max-width: 600px) {
    .centredModalView {
        width: 280px;
    }
}

@media (max-width: 340px) {
    .centredModalView {
        width: 220px;
        transform: translate(-50%, -55%);
    }
}
