<div id="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <a href="/workspace/page">
        <div id="homeIconWrapper">
            <h2>Monitoring</h2>
        </div>
    </a>
    <div th:replace="icons/userIcon :: user_icon"></div>
    <div id="menu">
        <div th:replace="icons/logoutIcon :: logout_icon"></div>
        <div class="menuItem" id="logOutItem">
            <h4>Log out</h4>
        </div>
        <div class="menuItem" onclick="window.location.replace('/auth/sign_up')">
            <h4>Add user</h4>
        </div>
    </div>
</div>

<div id="editMenu" th:fragment="editMenu" xmlns:th="http://www.thymeleaf.org">
    <div class="menuItem" id="deleteItem">
        <h4>Delete</h4>
    </div>
</div>

<div id="editMenu" th:fragment="editMenuContent" xmlns:th="http://www.thymeleaf.org">
    <div class="menuItem" id="editItem">
        <h4>Edit</h4>
    </div>
    <div class="menuItem" id="exportItem">
        <h4>Export</h4>
    </div>
</div>