<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/frame/content_frame.css}"/>
    <script th:src="@{/script/jquery/JQuery.js}"></script>
</head>
<body>
<div id="workspaceHead" class="workspaceHead">
    <h1 id="title"></h1>
    <textarea id="queryInput" hidden placeholder="SQL query"></textarea>
    <button id="runButton">Run</button>
    <button id="saveButton" hidden>Save</button>
    <svg height="15pt" id="editButton" viewBox="0 0 515.555 515.555" width="15pt"
         xmlns="http://www.w3.org/2000/svg">
        <path d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"/>
        <path d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"/>
        <path d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"/>
    </svg>
    <div th:replace="fragments/header :: editMenuContent"></div>
</div>
<div id="listItemContainer"></div>
</body>
<div th:replace="frames/frag/content_frame_fragments :: scripts"></div>
</html>