#contentModalView {
    display: none;
    width: 100%;
    background-color: #3592ad;
    color: #aaaea8;
    padding: 5px;
}

#addPeopleField {
    width: 312px;
    height: 30px;
    margin-top: 5px;
}

#addPeopleButton {
    position: relative;
    right: 50px;
    height: 25px;
    top: 0px;
    width: 45px;
    background-color: #3592ad;
}

#addPeopleButton:active {
    background-color: #5C5C5C;
}