@import "menu.css";


#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 5000;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.34);
    background-color: #1e1e30;
}

#userIcon {
    position: absolute;
    top: 14px;
    right: 5%;
    height: 25px;
    width: 25px;
    border-radius: 2px;
}

#homeIconWrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5px;
    left: 3%;
}

#homeIconWrapper > h2 {
    position: absolute;
    top: 4px;
    left: 30px;
    color: #87C159;
    font-size: 24px;
}

#homeIcon {
    fill: #52c4ef;
}